.logo {
  line-height: 90px;
  padding-left: 20px;
  .logoImg {
    height: 35px;
    vertical-align: middle;
  }
  .logoHeader {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-left: 30px;
    color: #fff;
  }
}
